[submodule "include/bamtools"]
	path = include/bamtools
	url = git@github.com:pezmaster31/bamtools.git
	ignore = dirty
[submodule "include/readfq"]
	path = include/readfq
	url = git@github.com:lh3/readfq.git

